!!!5
html(lang="en", encoding="UTF-8")
	head
		script(src='/javascript/jquery-1.7.1.min.js',type='text/javascript')
		script(src='/javascript/jquery.tmpl.1.1.1.js',type='text/javascript')
		script(src='/socket.io/socket.io.js',type='text/javascript')
		script(src='/javascript/connection.js',type='text/javascript')
		script(src='/javascript/buildTable.js', type='text/javascript')
			
	body
		h1 WebSocket Test
		h2 Connection ... 
			span#status Waiting
		pre#message
		div#listOfLinks Loading.. Please Wait
		hr
		div(id="divCurrency")
		
