!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/default.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body!= body

		
		div#pnlCopyright
			
			text &copy; Parjanya Mudunuri, 2011, 2012. All rights reserved. This work is released under 
				a(href='http://www.opensource.org/licenses/mit-license.php') MIT License (MIT).
				
			text Flag icons courtsey 
				a(href='http://www.famfamfam.com/lab/icons/flags/') Fam Fam Fam.
				
			